@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
@keyframes harshit {
  from {
    transform: translate(0, 100vh);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes sarthak {
  from {
    transform: translate(0, -100vh);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes harshit-text {
  from {
    transform: translate(100vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes sarthak-text {
  from {
    transform: translate(-100vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #0e2127;
  font-family: "Skranji", cursive;
  text-decoration: none;
}
nav {
  position: absolute;
  right: 0;
}
nav ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 1em 1.5em 0em 1.5em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0em 0.75em;
  background-color: #37e473;
  text-shadow: 1px 1px 2px black;
}
nav a:hover {
  color: #202020;
}
#top-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 28vh;
  max-height: 18vw;
  min-width: 7vw;

  z-index: -1;
}
#controller {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  max-width: 400px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  z-index: -1;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "harshit harshit-text harshit-text"
    "sarthak-text sarthak-text sarthak";
}
.harshit {
  animation: harshit 1s;
  position: relative;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". tweet1 in1 ."
    ". git1 insta1 .";
  grid-area: harshit;
}

.harshit-text {
  animation: harshit-text 1s;
  grid-area: harshit-text;
  color: #faff00;
  margin: auto 0px;
}
.sarthak {
  animation: sarthak 1s;
  grid-area: sarthak;
  position: relative;
  height: 50vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". insta2 git2 ."
    ". in2 tweet2 .";
}
.sarthak-text {
  animation: sarthak-text 1s;
  grid-area: sarthak-text;
  color: #faff00;
  margin: auto 0px;
  text-align: right;
}
.harshit #hr {
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 70%;
  max-height: 50%;
  z-index: 1;
}
.sarthak #sv {
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 70%;
  max-height: 50%;
  z-index: 1;
}
.harshit .tweet {
  grid-area: tweet1;
}
.harshit .in {
  grid-area: in1;
}
.harshit .git {
  grid-area: git1;
}
.harshit .insta {
  grid-area: insta1;
}
.sarthak .tweet {
  grid-area: tweet2;
}
.sarthak .in {
  grid-area: in2;
}
.sarthak .git {
  grid-area: git2;
}
.sarthak .insta {
  grid-area: insta2;
}
.tweet,
.in,
.git,
.insta {
  opacity: 0.6;
  display: flex;
  justify-self: center;
  align-self: center;
}
.tweet:hover,
.in:hover,
.git:hover,
.insta:hover {
  opacity: 1;
}
.icon {
  width: 57px;
}

#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 28vh;
  max-height: 18vw;
  min-width: 7vw;
  z-index: -1;
  transform: rotate(180deg);
}
